
*{
    margin: 0;
    position: 0;
    box-sizing: border-box;
}
body{
    color: #fac489;
    font-size: 15px;
    font-family: "Times New Roman";
    line-height: 1.5;
    background-color: #777775;
    font-weight: 400;
    text-align: left;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    float: none;
    width: 1200px;
    margin: 0 auto;
}
.menu li{
    float: left;/* lằm ngang */
    margin-right: 20px; /* cách nhau giữa chữ với nhau */
}