*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 15px;
    color: black;
    line-height: 1.15;
}
#wrapper{
    max-width: 100%;
    margin: 0  auto;
}
.headline{
    text-align: center ;
    margin: 40px 0px;
}
h3{
    font-size: 18px;
    color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #bebebe;
    display: inline-block;
    font-weight: 600;

}
ul.products{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    text-align: center;

}
ul.products li{
    flex-basis: 25%;
    padding-left:15px ;
    padding-right: 15px;
    box-sizing: border-box;
    margin-bottom:30px ;
}
ul.products li img{
    max-width: 100%;
    height: auto;
}
ul.products li .products-top{
    position: relative;
    overflow: hidden;
}
ul.products li .products-top .products_thumb{
    display: block;
}
ul.products li:hover .products-top .products_thumb img{
    filter: opacity(80%);
}
ul.products li .products-top .products_thumb img{
    display: block;

}
ul.products li .products-top a.buy-now{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #5b88f5;
    color: #ffffff;
    padding: 10px 0px;
    position: absolute;
    bottom: -36px;
    width: 100%;
    transition: 0.25s ease-in-out ;
    opacity: 0.85;

}
ul.products li:hover a.buy-now{
    bottom: 0px;

}
ul.products li .products-info{
    padding: 10px 0px;
}
ul.products li .products-info a{
    display: block;
    text-decoration: none;
}
ul.products li .products-info a.products-cat{
    font-size:11px ;
    text-transform: uppercase;
    color: #777775;
    padding: 3px 0px;

}
ul.products li .products-info a.products-name{
    color: #c1c1f8;
    padding: 3px 0px;

}
ul.products li .products-info .products-price{
    color: #111;
    padding: 3px 0px;
    font-weight: 600;
}
.header-next{
    display: flex;
    font-size: ;


}
