*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    max-width: 1903px ;
    margin-left: auto;
    margin-right: auto;

}
.row{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin-left: -15PX;
    margin-right: -15PX;


}
header{
    background-color: #bbbaba;
    padding: 10px 0 10px 0;
}
a{
    text-decoration: none;
    /*color: white;*/
}
.col-2{
    flex: 0 0 16.666667%;
    max-width: 16.666667% ;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25% ;
}
.col-8 .section nav ul li{
    font-size: 40px;

}
.col-12 {
    flex: 100%;
    max-width: 100%;
}

.menu ul li {
    float: left;
    margin-left: 20px;
    list-style: none;
    text-align: left;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;

 }

img {
    padding: 10px;
    width: calc(50% );
    float: left;
    margin: 10px;

    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 5px 5px 15px darkslategrey;

 }
ul.menu_child {
     position: absolute;
     width: 225px;
    background-color: #595959;
    border-radius: 20px;

}
ul.menu_child li{
    padding: 15px 0 0 0;
    float: none;
    display: none;
    margin-right: 500px;
}
.menu ul li:hover ul.menu_child li{
    display: block;

}

/* css của slideshow */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;


}

/* Caption text */
.text {
    color: #000000;
    font-size: 70px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;

}


/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: all  50s ;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
.top-menu{
    color: #000000;
    font-size: 30px;

}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
/* kết thúc slideshow */
.slider-margin{
    margin-top: 20px;
}
.slider-margin  .row .col-12 .slideshow-container img{
    max-width:100%;
    max-height:800px;

}